<!-- customer.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Customer</title>

</head>
<body>
  <h1>Welcome <%= result[0].id %> </h1>
  <form action="/submit" method="POST">
    <label for="order_date">Order Date:</label>
    <input type="date" id="order_date" name="order_date" required>
    <br>
    <label for="company">Company:</label>
    <input type="text" id="company" name="company" value=" <%= result[0].id %> " readonly>
    <br>
    <label for="owner">Owner:</label>
    <input type="text" id="owner" name="owner" value=" <%= result[0].name %> " readonly>
    <br>
    <label for="item">Item/Product:</label>
    <input type="text" id="item" name="item" required>
    <br>
    <label for="quantity">EA/Count:</label>
    <input type="number" id="quantity" name="quantity" required>
    <br>
    <label for="weight">Result_Weight:</label>
    <input type="number" step="0.01" id="weight" name="weight" required>
    <br>
    <label for="request_for_ship">Request_Weight:</label>
    <input type="number" id="request_for_ship" name="request_for_ship" required>
    <br>
    <label for="request_for_ship">Request:</label>
    <input type="text" id="request_for_ship" name="request_for_ship_real" required>

    <br>

    <button type="submit">Submit</button>
  </form>
  <form action="/dashboard" method="POST">
    <input type="hidden" id="company_dashboard" name="orderIDbtn" value=" <%= result[0].id %> "  required>
    <input type="hidden" id="owner_dashboard" name="orderNamebtn" value=" <%= result[0].name %> "  required>
    <button type="submit">Go to Dashboard</button>
  </form>
  <br>
  <br>
  <form action="/" method="GET">
    <button type="submit">Home</button>
  </form>
  <% if (typeof text !== 'undefined') { %>
    <h2><%= text[0].id %></h2>
    <% text[0].species.forEach(user => { %>
      <h3><%= user %> </h3>
    <% }); %>
  <% } %>
  <% if (typeof text2 !== 'undefined') { %>
    <h1><%= text2[0].id %></h1>
  <% } %>
</body>
</html>