<!-- dashboard.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Welcome to the Dashboard</h1>
  <table>
    <thead>
      <tr>
        <th>Order Date</th>
        <th>Company</th>
        <th>Owner</th>
        <th>Item, Product</th>
        <th>Request_weight</th>
        <th>Result_weight</th>
        <th>Price</th>
        <th>Order ID</th>
        <th>Count</th>
        <th>Request</th>
      </tr>
    </thead>
    <tbody>
      <% result.forEach(user => { %>
        <tr>
          <td><%= user.orderDate.toLocaleDateString('en-US') %></td>
          <td><%= user.user_id %></td>
          <% if (typeof ownerName !== 'undefined') { %>
            <td><%= ownerName[0]["name"] %></td>
          <% } else { %>
            <td><%= user.name %></td>
          <% } %>
          <td><%= user.package %></td>
          <td><%= user.request_weight %></td>
          <td><%= user.result_weight %></td>
          <td><%= user.price %></td>
          <td><%= user.order_id %></td>
          <td><%= user.count %></td>
          <td><%= user.requests %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <br>
  <br>
  <button type="button" ><a href="https://docs.google.com/spreadsheets/d/1tsEgKRtHfZaYo13uoWNF89HIvL14Pt-01X1R69QGVMc" style="color: aliceblue; text-decoration: none;">Go to Excel</a></button>
</body>
</html>
